.more_style {
  text-align: center;
  cursor: pointer;
  color: #1a338f;
}

.more_style:hover {
  color: red;
}

.more_icon {
  margin-top: 15px;
  color: #1a338f;
}

.more_icon:hover {
  color: red;
}

.title {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  color: #1a338f;
}

.about_company {
  -webkit-box-shadow: #1a338f 0px 10px 10px;
  -moz-box-shadow: #1a338f 0px 10px 10px;
  box-shadow: #000 5px 5px 5px, #f0f0f0 10px 10px 10px;
}
